<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Extended" />
  </extensions>

  <variable name="dateLayout"
						value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />

  <variable name="exceptionLayout"
						value="${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />

  <variable name="commonLayout"
						value="${dateLayout} ${machinename} ${level:uppercase=true} ${message} ${when:when=level == LogLevel.Error:inner=${newline}}${exceptionLayout}" />

  <variable name="logDir"
			value="/logs/AzureADB2C" />

  <variable name="customFileName"
             value="${level}" />


  <!--Define Various Log Targets like files, database or asp.net trace files-->
  <targets>
    <target xsi:type="Console"
				name="console"
				layout="${commonLayout}" />

    <!--Write logs to File  where we want to write error logs******D:\CMMI\Source\Services\logs-->
    <target xsi:type="File"
            name="file"
            fileName="${logDir}/${customFileName}.log"
            layout="${commonLayout}"
            archiveFileName="${logDir}/${customFileName}.${shortdate}.{#####}.log"
            archiveAboveSize="10485760"
				    archiveNumbering="Sequence"
				    concurrentWrites="true"/>

  </targets>

  <rules>
    <!-- Log levels (descending order): Off, Fatal, Error, Warn, Info, Debug, Trace -->

    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="eventlog" />



  </rules>
</nlog>
